@use "mixins" as *;

#footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  // overflow: hidden;
  margin-top: 80px;
  .l {
    // width: 100%;
    position: absolute;
    bottom: 0%;
    // position: relative;
    left: 0%;
    filter: drop-shadow(0px 0px 20px #ffd07252);
    // display: none;
    user-select: none;
    pointer-events: none;
    img {
      height: 100%;
      width: 100%;
    }
    @include mq(1700) {
      max-width: 60%;
    }
    @include mq(1600) {
      max-width: 40%;
    }

    @include mq(1280) {
      max-width: 30%;
      z-index: 100;
    }
  }
  .r {
    width: 40%;
    display: grid;
    // background: red;
    // padding-left: min(200px, 5%);
    grid-template-columns: 1fr 1fr;
    padding-top: 2em;
    // background: url("/b/ftbgr.png");
    // background-size: 100% 100%;
    filter: drop-shadow(0px 0px 20px #ffd07252);
    position: relative;
    @include mq(620) {
      display: flex;
      flex-direction: column;
    }

    @include mq(1700) {
      width: 50%;
    }
    @include mq(1440) {
      width: 60%;
    }
    @include mq(1280) {
      width: 90%;
      padding: 0 2em;
      padding-left: 20%;
    }
    @include mq(1024) {
      width: 100%;
      padding-left: 10%;
    }
    .ftbgr {
      // display: none;
      position: absolute;
      z-index: -2;
      right: -50%;
      user-select: none;
      pointer-events: none;
      height: 100%;

      @include mq(1700) {
        right: -45%;
      }
      @include mq(1440) {
        right: -40%;
      }
      @include mq(1280) {
        right: -20%;
      }
      @include mq(660) {
        right: -40%;
      }
    }
    .a {
      height: 100%;
      // background: red;
      position: relative;
      z-index: 2;

      &:hover {
        img {
          transform: translateY(-2%);
          scale: 1.1;
        }
      }

      img {
        // width: 100%;
        transform: translateY(0%);
        transform-origin: bottom;
        height: 90%;
        position: absolute;
        bottom: 0%;
        right: -10%;
        user-select: none;
        transition: all 500ms ease;
        pointer-events: none;
        object-fit: contain;
        object-position: bottom;
      }
      @include mq(620) {
        // min-height: 500px;
        height: auto;
        width: 100%;
        img {
          position: relative;
          max-width: 100%;
          right: auto;
          width: 100%;
          height: 100%;
        }
      }
    }
    .c {
      margin: 8em 0;
      @include mq(1024) {
        z-index: 150;
      }

      @include mq(620) {
        margin: 0;
        padding: 2em 0;
        padding-top: 5em;
      }
      h2 {
        font-family: var(--fontA);
        font-size: 2rem;
        letter-spacing: 3px;
        margin-bottom: 0.25em;
        @include mq(420) {
          font-size: 1.5rem;
          text-align: center;
        }
      }
      .nav-links {
        display: grid;
        margin-bottom: 0.25em;
        grid-template-columns: 1fr 1fr;
        @include mq(420) {
          gap: 0.25em;
        }
        @include mq(380) {
          display: flex;
          flex-direction: column;
        }
        .btn-fnav {
          transition: all 500ms ease;
          transform-origin: left;
          font-size: 1.4rem;
          letter-spacing: 2px;
          @include mq(420) {
            font-size: 1rem;
            background: rgba(0, 0, 0, 0.66);
            mask-image: linear-gradient(
              to right,
              white,
              white 50%,
              transparent
            );
            padding: 0.25em;
          }
          @include mq(380) {
            font-size: 1.3rem;
            text-align: center;
            mask-image: linear-gradient(
              to right,
              transparent,
              white,
              transparent
            );
          }
          &:hover {
            color: var(--gold);
            text-shadow: 0px 0px 4px var(--gold);
          }
        }
        grid-template-columns: 1fr 1fr;
      }
      .socials {
        display: flex;
        gap: 1em;
        margin: 3em 0;
        background: url("/d/fctbg.png");
        background-repeat: no-repeat;
        .btn-soc {
          width: 80px;
          height: 120px;
          position: relative;
          // background: red;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            width: 35px;
            height: 35px;
          }

          // opacity: 0.5;
          z-index: 1;
          filter: brightness(80%);
          color: #6d6c6c;
          &:hover {
            filter: brightness(100%);
            opacity: 1;
            color: var(--gold);
            filter: drop-shadow(0px 0px 10px var(--gold));
          }
          .bg {
            position: absolute;
            z-index: -2;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            scale: 1.2;
          }
        }
      }
    }
  }
}

#fcopymini {
  background: black;
  color: #6d6c6c;

  font-size: 1.2rem;
  display: flex;
  gap: 1em;
  align-items: center;
  margin-top: -20px;
  z-index: 100;
  position: relative;
  hr {
    width: 200px;
    height: 2px;
    background: #6d6c6c;
    @include mq(550) {
      width: 20%;
    }
  }
  @include mq(550) {
    font-size: 1rem;
  }
  @include mq(420) {
    font-size: 0.8rem;
  }
}
