@use "mixins" as *;

#header {
  display: flex;
  // background: ;
  border-top: 3px solid var(--gold);
  filter: drop-shadow(0px 0px 14px #ffd07270);
  margin-bottom: -150px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0%;
  left: 0%;
  width: 100%;

  .chain-r {
    position: absolute;
    top: 0%;
    width: 120px;
    user-select: none;
    pointer-events: none;
    left: 0%;
    z-index: 150;
    @include mq(768) {
      display: none;
    }
  }
  .logo {
    position: relative;

    height: 180px;
    width: 440px;
    background: url("/b/headbg.png");
    background-size: 440px 100%;
    background-repeat: no-repeat;
    transform: translateX(-3%) translateY(-3%);
    filter: drop-shadow(0px 0px 2px #ffd0720e);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include mq(420) {
      padding: 0.5em;
    }
    @include mq(768) {
      height: 90px;
      width: 200px;
      background-size: 100%;
      // background: none;
    }

    transition: all 500ms ease;
    &:hover {
      filter: drop-shadow(0px 0px 25px #ffd0720e);
      cursor: pointer;
      scale: 1.02;
    }
    img {
      object-fit: contain;
      width: 100%;
      max-width: 90%;
      filter: drop-shadow(0px 0px 14px #ffd07270);
      max-height: 80%;
      @include mq(420) {
        height: 180px;
      }
      @include mq(320) {
        margin-top: -25px;
        //
      }
    }
  }

  nav {
    padding-right: 2em;
    .btn {
      position: relative;
      z-index: 1;
      @include mq(768) {
        max-width: 40%;
      }
      img {
        @include mq(768) {
          width: 150px;
        }
        @include mq(420) {
          width: 130px;
          transform: translateX(10%);
        }
        height: 100%;
      }
    }
    .chain-l {
      position: absolute;
      top: -50px;
      right: -90px;
      rotate: 15deg;
      user-select: none;
      pointer-events: none;
      width: 250px;
    }
  }
}

.fs-header {
  background: rgba(2, 0, 0, 0.747);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 5000;
  top: 0%;
  &.open {
    opacity: 1;
    right: 0%;
  }
  &.close {
    user-select: none;
    pointer-events: none;
    opacity: 0;

    .side {
      right: -100%;
    }
  }
  transition:
    all 1800ms cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 350ms ease;
  .side {
    background: url("/b/concrete1.png");
    background-size: contain;
    border-left: 5px solid var(--gold);
    height: 100%;
    transition: all 500ms ease;
    display: flex;
    width: 60%;
    right: 0%;
    position: fixed;

    @include mq(768) {
      width: 100%;
    }
    justify-content: center;
    align-items: center;
    padding: 1em;
    perspective: 1200px;
    perspective-origin: 50%;
    box-shadow: 50px 0px 120px black inset;

    img {
      animation: realspin 3s infinite cubic-bezier(0.075, 0.82, 0.165, 1);

      @include mq(768) {
        width: 200px;
        height: auto;
      }
    }
    .btn-fnav {
      font-size: clamp(3rem, 8vw, 5rem);
      font-family: var(--fontM);
      transform-origin: right;

      text-shadow: 0px 0px 10px white;
      width: 100%;
      text-align: center;
      mask-image: linear-gradient(to right, transparent, white, transparent);
      transition: all 100ms ease;
      padding-top: 0.15em;
      &:hover {
        color: var(--gold);
        text-shadow: 0px 0px 10px var(--gold);
        background: rgba(0, 0, 0, 0.603);
        scale: 1;
        span {
          scale: 1.2;
        }
      }
      span {
        display: block;
        transition: all 500ms ease;
        scale: 1;
      }

      @include mq(550) {
        // color: var(--gold);
        text-shadow: 0px 0px 10px var(--gold);
        margin: 0.15em;
        background: black;
        gap: 1em;
        font-size: 1.8rem;
      }
    }
    flex-direction: column;
  }
  height: 100%;
  width: 100%;
}
