#header {
  display: flex;
  // background: ;
  border-top: 3px solid var(--gold);
  filter: drop-shadow(0px 0px 14px #ffd07270);
  margin-bottom: -150px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0%;
  left: 0%;
  width: 100%;
  .chain-r {
    position: absolute;
    top: 0%;
    width: 120px;
    user-select: none;
    pointer-events: none;
    left: 0%;
    z-index: 150;
  }
  .logo {
    position: relative;

    height: 180px;
    width: 440px;
    background: url("/b/headbg.png");
    background-size: 440px 100%;
    background-repeat: no-repeat;
    transform: translateX(-3%) translateY(-3%);
    filter: drop-shadow(0px 0px 2px #ffd0720e);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    transition: all 500ms ease;
    &:hover {
      filter: drop-shadow(0px 0px 25px #ffd0720e);
      cursor: pointer;
      scale: 1.02;
    }
    img {
      object-fit: contain;
      width: 100%;
      max-width: 90%;
      filter: drop-shadow(0px 0px 14px #ffd07270);
      max-height: 80%;
    }
  }

  nav {
    padding-right: 2em;

    .chain-l {
      position: absolute;
      top: -50px;
      right: -90px;
      rotate: 15deg;
      user-select: none;
      pointer-events: none;
      width: 250px;
    }
  }
}

.fs-header {
  background: rgba(2, 0, 0, 0.747);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 5000;
  top: 0%;
  &.open {
    opacity: 1;
    right: 0%;
  }
  &.close {
    user-select: none;
    pointer-events: none;
    opacity: 0;

    .side {
      right: -100%;
    }
  }
  transition:
    all 1800ms cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 350ms ease;
  .side {
    background: url("/b/concrete1.png");
    background-size: contain;
    border-left: 5px solid var(--gold);
    height: 100%;
    transition: all 500ms ease;
    display: flex;
    width: 60%;
    right: 0%;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding: 1em;
    perspective: 1200px;
    perspective-origin: 50%;
    box-shadow: 50px 0px 120px black inset;

    img {
      animation: realspin 3s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .btn-fnav {
      font-size: clamp(3rem, 8vw, 5rem);
      font-family: var(--fontM);
      transform-origin: right;

      text-shadow: 0px 0px 10px white;
      &:hover {
        color: var(--gold);
        text-shadow: none;
        filter: drop-shadow(0px 0px 14px var(--gold));
      }
    }
    flex-direction: column;
  }
  height: 100%;
  width: 100%;
}
