@use "mixins" as *;
#p_about {
  // min-height: 8000px;
  position: relative;
  z-index: 1;
  #main-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 1000px;

    @include mq(768) {
      display: flex;
      flex-direction: column;
      flex-direction: column-reverse;
      min-height: auto;
    }
    .deco-camp {
      position: absolute;
      left: 0%;
      filter: blur(12px);
      // opacity: 0.5;
      mask-image: linear-gradient(to right, white, transparent);
      user-select: none;
      pointer-events: none;
    }
    .l {
      padding-left: 35%;
      filter: drop-shadow(0px 0px 13px #ffd072c2);

      @include mq(1440) {
        padding-left: 20%;
      }

      @include mq(768) {
        padding-block: 200px;
      }
      @include mq(420) {
        padding-left: 5%;
      }
      h2 {
        font-size: 4rem;
        letter-spacing: 4px;
        margin-bottom: 0.5em;
        @include mq(1280) {
          font-size: 2rem;
        }
      }
      p {
        font-size: 1.4rem;
        max-width: 80%;
        color: #898989;
        @include mq(1280) {
          font-size: 1.2rem;
        }
        @include mq(420) {
          max-width: 95%;
        }
      }
    }
    .r {
      clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
      height: 100%;

      @include mq(768) {
        clip-path: none;
        margin-top: 2em;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        scale: 1.4;
        transform-origin: top right;
      }
    }
  }
  #curated {
    background: url("/b/concretegold.png");
    background-size: 100% 100%;
    color: black;
    scale: 1.02;
    text-align: center;
    border: 3px solid;
    border-image: url("/d/sketchwhite.png") 3;
    @include mq(768) {
      padding: 1em 3em;
    }
    @include mq(420) {
      padding: 0.5em 2em;
    }
    p {
      font-size: 1.4rem;
      font-weight: 300;
      font-family: var(--fontA);
      color: #4c351a;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.514);
      @include mq(550) {
        font-size: 1.2rem;
      }
      @include mq(420) {
        font-size: 0.9rem;
        text-align: left;
      }
      strong {
        font-weight: bold;
      }
      padding: 3em 0;
    }
  }

  #goal-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      user-select: none;
      pointer-events: none;
      background: #2f2f2f5d;
      background-size: cover;
      filter: blur(50px);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background: url("/d/dust.png");
      mix-blend-mode: overlay;
      background-size: contain;
      opacity: 0.1;
      user-select: none;
      pointer-events: none;
    }
    .chain {
      position: absolute;
      z-index: -2;
      user-select: none;
      pointer-events: none;
      &.r {
        left: 0%;
        top: -50%;
        rotate: -45deg;
      }

      &.l {
        right: -120px;
        top: -48%;
        rotate: -20deg;
      }
    }

    .clock {
      position: absolute;
      width: 500px;
      height: 500px;
      z-index: -2;
      user-select: none;
      pointer-events: none;
      @include mq(550) {
        width: 400px;
        height: 400px;
      }
      @keyframes speen {
        from {
          rotate: 0deg;
        }
        to {
          rotate: 360deg;
        }
      }
      animation: speen 25s infinite linear;
      &.r {
        left: -250px;
        top: -400px;
      }
      &.l {
        right: -250px;
        top: -400px;
      }
    }
    .dia {
      max-width: 550px;
      filter: drop-shadow(0px 0px 14px #ffd07270);
      user-select: none;
      pointer-events: none;
      margin-bottom: 2em;
      animation: float 2s infinite alternate ease;
      @include mq(550) {
        max-width: 90%;
      }
      @keyframes float {
        from {
          transform: translateY(-10px);
        }
        to {
          transform: translateY(10px);
        }
      }
    }

    h2 {
      font-size: 5rem;
      font-family: var(--fontA);
      filter: drop-shadow(0px 0px 4px #ffd072fa);
      font-weight: 200;
      letter-spacing: 4px;
      line-height: 1;
      @include mq(550) {
        font-size: 3rem;
      }
    }

    .dash {
      margin: 0.5em;
      filter: drop-shadow(0px 0px 4px #ffd072fa);
      margin-bottom: 3em;
      @include mq(550) {
        max-width: 50%;
      }
    }
    .crep {
      position: relative;
      filter: drop-shadow(0px 0px 4px #ffd072fa);
      text-align: center;
      h3 {
        color: var(--gold);
        letter-spacing: 2px;
        @include mq(420) {
          font-size: 1rem;
        }
      }
      p {
        max-width: 470px;
        font-size: 1.2rem;
        margin: 1em;
        text-shadow: 0px 0px 1px black;
        @include mq(420) {
          font-size: 0.9rem;
        }
      }
      svg {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        scale: 1.2;
      }
    }
  }

  #goal-expand {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    margin: 200px 0;

    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.233);
    @include mq(1280) {
      grid-template-columns: 1fr 1fr;
    }
    @include mq(768) {
      grid-template-columns: 1.4fr 1fr;
    }
    @include mq(550) {
      display: flex;
      flex-direction: column;
    }
    .l {
      padding: 4em;
      background: url("/b/concrete2.png");
      background-size: 100% 100%;
      padding-bottom: 150px;
      @include mq(1440) {
      }
      @include mq(420) {
        padding: 2em 1em;
        padding-bottom: 150px;
      }
      h2 {
        font-size: 3rem;
        // margin-bottom: 1em;
        text-shadow: 0px 0px 10px #ffd072f3;
        @include mq(768) {
          font-size: 1.7rem;
        }
      }
      .dash {
        margin: 1em 0;
        filter: drop-shadow(0px 0px 4px #ffd072fa);
        @include mq(768) {
          max-width: 90%;
        }
      }
      p {
        font-size: 1.4rem;
        text-shadow: 0px 0px 10px #ffd072f3;
        margin-bottom: 2em;
      }
      position: relative;
      .chibfor {
        &:hover {
          img {
            scale: 1.1;
          }
        }
        p {
        }
        img {
          position: absolute;
          right: 5%;
          bottom: 5%;
          height: 150px;
          width: 150px;
          object-fit: contain;
          animation: sidestep 1s infinite alternate steps(2);
          @keyframes sidestep {
            from {
              rotate: -10deg;
            }
            to {
              rotate: 50deg;
            }
          }
        }
        p {
          position: absolute;
          right: 200px;
          text-shadow: none;
          rotate: -10deg;
          bottom: 10%;
        }
      }
    }
    .r {
      box-shadow: 0px 0px 10px 15px rgb(129, 63, 63) inset;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  #units {
    background: #161616;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    mask-image: url("/d/unitbgmask.png");
    mask-size: 100% 100%;
    align-items: center;
    position: relative;
    @include mq(768) {
      mask-image: linear-gradient(
        to bottom,
        transparent,
        white 5%,
        white 80%,
        transparent
      );
    }
    @include mq(1600) {
      grid-template-columns: 2fr 1fr;
    }
    @include mq(1024) {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }
    .l {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding: 4em;
      padding-left: 10em;
      gap: 3em;
      margin-right: -100px;
      @include mq(1600) {
        padding-left: 50px;
        padding-right: 150px;
      }
      @include mq(768) {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 100;
        background: #161616;
      }
      @include mq(550) {
        padding: 0.5em;
        gap: 1em;
        margin: 0 auto;
      }
      .ul {
        background: #100e0c;

        height: 100%;
        h2 {
          background: url("/b/concrete1.png");
          text-align: center;
          padding: 0.25em;
          font-size: 2rem;
          font-family: var(--fontA);
          text-shadow: 0px 0px 10px #ffd072f3;
        }
        .btn-unit {
          color: white;
          font-size: 1.2rem;
          width: 100%;
          text-align: left;
          padding: 0.5em 1em;
          font-weight: bold;
          border-bottom: 2px solid white;
          @include mq(420) {
            font-size: 1rem;
          }
          &:hover,
          &.selected {
            color: #100e0c;
            box-shadow: 0px 0px 15px var(--gold);
            background: var(--gold);
          }
        }
      }
      .md {
        @include mq(550) {
          padding: 1em;
        }
        @include mq(420) {
          padding: 0.25em;
        }
        &-h {
          display: grid;
          grid-template-columns: 1fr 100px;
          gap: 1em;
          @include mq(550) {
            display: flex;
            flex-direction: column-reverse;
          }
          .title {
            padding-top: 2em;
            @include mq(550) {
              padding: 0;
            }
            h2 {
              font-size: 2.8rem;
              text-shadow: 0px 0px 10px #ffd072f3;
              color: var(--gold);
              @include mq(550) {
                font-size: 2rem;
              }
            }
            p {
              font-size: 1.5rem;
              color: var(--gold);
              text-shadow: 0px 0px 10px #ffd072f3;
              @include mq(550) {
                font-size: 1.2rem;
              }
              @include mq(420) {
                font-size: 1rem;
              }
            }
          }
          .icon {
            // height: 100%;
            // width: 100%;
            img {
              height: 140px;
              width: 140px;
              object-fit: contain;
            }
          }
          display: flex;
          justify-content: space-between;
        }

        .dash {
          width: 100%;
          object-fit: contain;
        }
        .desc {
          margin: 1em 0;
          text-shadow: 0px 0px 10px #ffd072f3;
          font-size: 1.4rem;
          min-height: 300px;
          @include mq(550) {
            font-size: 1.2rem;
          }
          @include mq(420) {
            font-size: 1rem;
          }
        }
        .md-ct {
          display: flex;
          gap: 2em;
          margin: 2em 0;
          @include mq(768) {
            flex-direction: column;
          }
          .xl {
            background: var(--gold);
            color: #100e0c;
            padding: 0.25em 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 0px 15px var(--gold);
            font-weight: bold;
            gap: 1em;
          }
          .mail {
            border: 2px solid white;
            padding: 0.25em 2em;
            display: flex;
            align-items: center;
            box-shadow: 0px 0px 8px var(--gold);
            gap: 1em;
            &:hover {
              background: white;
              color: #100e0c;
            }
          }

          @include mq(768) {
            .xl,
            .mail {
              display: flex;
              justify-content: space-between;
              padding: 0.25em 1em;
            }
          }
          @include mq(420) {
            .xl,
            .mail {
              display: flex;
              flex-direction: column;
              padding: 1em;
              word-break: break-all;
              svg {
                width: 80px;
                height: 30px;
              }
              font-size: 0.9rem;
            }
          }
        }
      }
    }
    .r {
      width: 100%;
      height: 100%;
      min-height: 900px;
      // margin-left: -100px;
      position: relative;
      @include mq(550) {
        min-height: 400px;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        mask-image: url("/d/unitpfpmask.png");
        @include mq(1024) {
          mask-image: none;
        }
        object-fit: cover;
        scale: 1.02;
        mask-size: 100% 100%;
        user-select: none;
        pointer-events: none;
      }
    }
  }

  #generation {
    position: relative;
    margin-top: -100px;

    z-index: -1;

    @include mq(1024) {
      margin-top: 0px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background: url("/b/fortunefire.png");
      z-index: -2;
      user-select: none;
      pointer-events: none;
      background-size: cover;
      mask-image: linear-gradient(to bottom, white, transparent);
      animation: grayed 5s infinite alternate-reverse;
      @keyframes grayed {
        from {
          filter: grayscale(0%);
        }
        to {
          opacity: 0.5;
          filter: grayscale(50%);
        }
      }
      @include mq(1024) {
        background-position: 50% 80%;
      }
    }
    display: flex;
    flex-direction: column;
    min-height: 1200px;

    @include mq(768) {
      min-height: 600px;
      padding-top: 100px;
      padding-bottom: 250px;
    }
    justify-content: space-around;
    padding-top: 200px;
    .top {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      filter: drop-shadow(0px 0px 10px #ffd072f3);
      p {
        color: var(--gold);
        font-size: 2rem;
        @include mq(768) {
          font-size: 1.5rem;
        }
      }
      h2 {
        font-size: 4rem;
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        font-family: var(--fontA);
        letter-spacing: 2px;
        line-height: 80%;
        font-weight: 300;

        @include mq(768) {
          font-size: 2.5rem;
        }
      }
      img {
        max-width: 150px;
      }
    }
    .bottom {
      padding-bottom: 5em;
      display: flex;
      align-items: center;
      justify-content: center;
      .btn-sketch {
        // max-width: 250px;
        padding: 0.25em 2em;
      }
    }
  }

  #partners {
    padding-bottom: 200px;
    h2 {
      font-size: 5rem;
      filter: drop-shadow(0px 0px 10px #ffd072f3);
      font-family: var(--fontA);
      font-weight: 200;
      text-align: center;
      @include mq(550) {
        font-size: 4rem;
      }
      @include mq(420) {
        font-size: 3rem;
      }
      @include mq(360) {
        font-size: 2rem;
      }
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .dash {
      filter: drop-shadow(0px 0px 10px #ffd072f3);
      @include mq(550) {
        max-width: 200px;
      }
    }
    .plist {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      img {
        max-height: 400px;
        @include mq(1280) {
          max-width: 100%;
        }
        max-width: 800px;
      }
      // flex-wrap: wrap;
    }
  }
}
