@use "mixins" as *;

#p_con {
  padding-top: 200px;
  min-height: 0;
  margin-bottom: 300px;
  .forfire {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 20%;
    mask-image: linear-gradient(to left, transparent 20%, black 50%);
    opacity: 0.2;
  }
  #main-con {
    .confine {
      display: grid;
      grid-template-columns: 1fr 1.4fr;
      gap: 100px;
      align-items: center;
      @include mq(1280) {
        display: flex;
        flex-direction: column;
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 2em;

        .mt {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          filter: drop-shadow(0px 0px 10px #ffd07296);
          h2 {
            font-size: 3rem;
            font-family: var(--fontA);
            font-weight: 400;
            letter-spacing: 2px;
          }
          @include mq(420) {
            font-size: 1rem;
            h2 {
              font-size: 2rem;
            }
            padding-inline: 2em;
          }
          p {
            font-size: 0.7rem;
          }
        }

        .other {
          text-align: center;
          h2 {
            font-family: var(--fontA);
            margin: 0.25em;
            font-weight: 200;
            @include mq(420) {
              font-size: 1rem;
            }
          }
          margin: 2em 0;
          .ct {
            display: flex;
            gap: 1em;
            flex-wrap: wrap;
            justify-content: center;
            filter: drop-shadow(0px 0px 10px #ffd07296);

            a {
              background: var(--gold);
              color: #161616;
              padding: 0.25em 1em;
              display: flex;
              align-items: center;
              gap: 5em;
              @include mq(420) {
                width: 100%;
                justify-content: space-between;
              }
            }
          }
        }
      }

      #ctform {
        background: url("/b/concrete3.png");
        border: 1px solid var(--gold);
        padding: 2em;
        filter: drop-shadow(0px 0px 10px #ffd07296);
        min-height: 500px;
        display: flex;
        flex-direction: column;
        gap: 1em;

        position: relative;
        @include mq(420) {
          gap: 0.5em;
          width: 100%;
        }
        .icon {
          position: absolute;
          // top: 100%;
          bottom: -40px;
          left: 100%;
          width: 80px;
          user-select: none;
          pointer-events: none;
          transform: translate(-50%);
        }
        .fg {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1em;
          @include mq(620) {
            display: flex;
            flex-direction: column;
          }
        }
        .f {
          display: flex;
          flex-direction: column;
          label {
            font-size: 1.2rem;
            margin-bottom: 0.25em;
          }

          input,
          textarea {
            background: #161616;
            border: 1px solid #505050;
            resize: none;
            font-size: 1.2rem;
            font-family: var(--fontM);
            padding: 0.25em 1em;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.712);
            &::placeholder {
              opacity: 0.4;
            }

            @include mq(420) {
              font-size: 1rem;
            }
          }
          textarea {
            padding: 0.5em 1em;
            min-height: 300px;
          }
        }

        .btn-sub {
          width: 100%;
          background: #444444;
          font-family: var(--fontA);
          letter-spacing: 1px;
          padding: 0.25em;
          font-size: 1.3rem;
          &:hover {
            background: var(--gold);
          }
        }
      }
    }
  }

  .loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #0f0f0f8f;
    backdrop-filter: blur(5px);
    top: 0%;
    left: 0%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 2rem;

    &.load {
      opacity: 1;
    }
    &.hid {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }
    transition: all 1500ms ease;
    svg {
      animation: speen 2s infinite ease-in-out;
      @keyframes speen {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
