@use "mixins" as *;

#p_tal {
  // margin-top: 300px;
  padding-top: 300px;
  #ptalhead {
    display: flex;
    .l {
      position: relative;
      .frag {
        position: absolute;
        top: 0%;
        left: 5%;
        width: 120%;
        height: 100%;
        scale: 1.8;
        z-index: -2;
        padding-right: 100px;
        @include mq(1024) {
          width: 140%;
          height: auto;
        }
        @include mq(768) {
          width: 350px;
        }
      }
      h2 {
        padding-left: 0.5em;
        font-size: 5rem;
        letter-spacing: 5px;
        font-weight: 400;

        @include mq(1024) {
          font-size: 3rem;
        }
        color: #100e0c;
      }
    }
  }

  .generation {
    margin-top: 100px;
    .title {
      align-items: center;
      filter: drop-shadow(0px 0px 14px #ffd072b2);
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      h2 {
        text-align: center;
        font-family: var(--fontA);
        font-size: 4rem;
        text-transform: uppercase;
        @include mq(620) {
          font-size: 2rem;
        }
      }
      img {
        width: 300px;
      }
    }
    .tal {
      display: flex;
      gap: 3em;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      flex-wrap: wrap;
      max-width: 1920px;
    }
    .tc {
      @include mq(1280) {
        scale: 0.9;
        transform-origin: top;
        margin-bottom: -50px;
      }
      @include mq(768) {
        scale: 0.4;
        margin-bottom: -200px;
        margin-inline: -100px;
      }
    }
  }
}
