@use "mixins" as *;

#minigame {
  background: url("/b/crimson-wall.png");
  min-height: 0;
  height: 100vh;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .finalCount {
    font-size: 6rem;
    color: var(--gold);
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
    font-family: var(--fontA);
    filter: drop-shadow(0px 0px 4px black);
    line-height: 1;
    font-weight: 800;

    @include mq(1280) {
      font-size: 5rem;
    }
    @include mq(550) {
      font-size: 3.5rem;
    }
    animation: swing 0.4s infinite ease-in-out alternate;
    @keyframes swing {
      from {
        transform: rotate(5deg) scale(1);
      }
      to {
        transform: rotate(-5deg) scale(1);
      }
    }
  }
  .mainCount {
    font-size: 5.2rem;
    color: var(--gold);
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
    font-family: var(--fontA);
    filter: drop-shadow(0px 0px 2px black);
    font-weight: 800;
    @include mq(1280) {
      font-size: 3.5rem;
    }
    @include mq(550) {
      font-size: 3rem;
    }
  }
  .control {
    position: relative;
    .btn-logo {
      width: 500px;
      filter: drop-shadow(0px 0px 14px black);
      user-select: none;
      @include mq(1280) {
        width: 300px;
      }
      @include mq(420) {
        width: 240px;
      }
      img {
        user-select: none;
      }
      &:hover {
        filter: drop-shadow(0px 0px 14px #ffd07270);
      }
    }
    p {
      position: absolute;
      left: 100%;
      width: 100%;
      font-size: 1.2rem;
      user-select: none;
      rotate: 20deg;
      @include mq(550) {
        font-size: 0.8rem;
        left: 90%;
      }
      @include mq(420) {
        left: 50%;
      }
    }
  }

  .btn-mute {
    position: fixed;

    bottom: 40px;
    left: 40px;
    @include mq(1280) {
      img {
        width: 50px;
        height: 50px;
      }
    }

    &.muted {
      filter: brightness(0.5) grayscale(1);
    }
  }

  .mini-for {
    position: fixed;
    user-select: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    img {
      position: absolute;
      height: 300px;
      animation: swing 0.5s infinite steps(2) alternate;
      width: 300px;
      @include mq(1280) {
        width: 220px;
        height: 220px;
      }
      @include mq(550) {
        width: 150px;
        height: 150px;
      }
    }
  }
}

body:has(#minigame) {
  #footer {
    display: none;
  }
  #header {
    .logo {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }
  }
}
