@use "mixins" as *;
:root {
  --gold: #ffd172;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
html,
body {
  max-width: 100vw;
  // overflow-x: hidden;
  // position: relative;
  position: relative;
  overflow-x: clip;
}

body:has(#loading) {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  main {
    opacity: 0.01;
  }
}
body:has(#loading.hide) {
  overflow: initial;
  overflow-x: clip;
  color: white;
  main {
    opacity: 1;
  }
}
body {
  font-family: var(--fontM);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // &::before {
  //   content: "";
  //   position: fixed;
  //   top: 0%;
  //   top: 0%;
  //   left: 0%;
  //   width: 100%;
  //   height: 100%;
  //   // Dark
  //   background: url("/b/clop.png"), radial-gradient(#865728, #24170a);
  //   // light
  //   // background: url("/b/clop.png"), radial-gradient(#ffd3a7, #cd8d4d);
  //   background-blend-mode: multiply, normal;
  //   background-size: 70%, 100%;
  //   z-index: -100;
  //   animation: bganim1 125s infinite linear;
  //   @keyframes bganim1 {
  //     from {
  //       background-position:
  //         0px 0px,
  //         0px;
  //     }
  //     to {
  //       background-position:
  //         4000px 4000px,
  //         0px;
  //     }
  //   }
  // }
  background: #100e0c;
}

h1,
h2,
h3 {
  font-family: var(--fontM);
  color: white;
}
main {
  // min-height: 300vh;
  transition: opacity 250ms ease;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

p {
  color: white;
}
label {
  color: white;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button {
  padding: 0;
  outline: none;
  border: none;
  background: none;
  text-decoration: none;
  color: black;
}
main {
  // min-height: 8500px;
}

.btn {
  cursor: pointer;
  transition: all 200ms ease;
  display: block;
  font-family: var(--fontA);
  &:hover {
    scale: 1.05;
  }
  &:active {
    scale: 0.95;
  }
}

.btn-sketch {
  background: #ffd0721a;
  color: var(--gold);
  border: 5px solid;
  border-image: url("/d/framesketch1.png") 10 / 8px round;
  font-size: 1.4rem;
  margin: 1em 0;
  padding: 0.25em 1em;
  text-align: left;
  box-shadow: 0px 0px 10px #ffd07263;
  font-family: var(--fontA);
  backdrop-filter: blur(2px);
  text-shadow: 0px 0px 4px black;
  &:hover {
    background: var(--gold);
    color: #100e0c;
    text-shadow: 0px 0px 0px black;
  }
}

.section-divider {
  height: 500px;
  background: url("/b/looping_div.png");
  mask-image: linear-gradient(
    to bottom,
    transparent,
    white 30%,
    transparent 80%
  );
  background-size: 100%;
  opacity: 0.5;
  background-attachment: fixed;

  @include mq(768) {
    height: 300px;
    background-size: 1200px;
  }
}
.tc {
  width: 300px;
  height: 600px;
  position: relative;
  z-index: 1;
  cursor: pointer;

  .dia-side {
    position: absolute;
    &.l {
      left: -15px;
      top: 40%;
    }
    &.r {
      right: -15px;
      top: 25%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 0%;
    width: 98%;
    height: 79%;
    // background: red;
    background: url("/b/cracked.png");
    background-size: 450px;
    z-index: -2;
    border: 3px solid;
    border-image: url("/d/framesketch2.png") 20 / 3px round;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%, 0 86%);
    mask-image: linear-gradient(to bottom, white, transparent);
    transition: all 500ms ease;
  }

  .fn {
    position: absolute;
    top: -60%;
    left: 70%;
    // transform: translateX(50%);
    rotate: 90deg;
    transform-origin: left bottom;
    font-size: 4rem;
    z-index: -2;
    transition: all 1500ms ease;
    opacity: 0;
    letter-spacing: -4px;
    text-shadow: 0px 0px 5px black;
    font-family: var(--fontA);
    user-select: none;

    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--gold);
    pointer-events: none;
  }
  .tcart {
    width: 99%;
    height: 100%;
    object-fit: cover;
    top: 5%;
    position: relative;
    object-position: top;
    transition: all 250ms ease;
    filter: drop-shadow(0px 0px 10px black);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%, 0 80%);
    mask-image: linear-gradient(to bottom, white 50%, transparent);

    &.miss {
      object-fit: contain;
      width: 100%;
      object-position: center;
      top: 12%;
      scale: 0.5;
    }
  }
  &:hover {
    .tcart {
      scale: 1.02;
      top: 0%;
    }
    .fn {
      opacity: 1;
      // color: var(--gold);
      filter: drop-shadow(0px 0px 10px black);
      top: -10%;
      color: transparent;
      font-weight: bolder;
      -webkit-text-stroke: 1px var(--gold);
    }
    &::before {
      top: 22%;
    }
  }
}

.confine {
  max-width: 1200px;
  margin: 0 auto;
}

.arrow {
  animation: arrow 0.4s infinite ease-in-out alternate-reverse;

  @keyframes arrow {
    from {
      transform: translateY(20px);
    }
    to {
      transform: translateY(-20px);
    }
  }
}

.infitext {
  display: flex;
  gap: 1em;
  position: absolute;
  z-index: -2;
  rotate: -3deg;
  transform-origin: left;
  p {
    font-size: 10rem;
    @include mq(768) {
      font-size: 6rem;
    }
    font-weight: bold;
    color: transparent;
    text-shadow: 0px 0px 10px black;
    -webkit-text-stroke: 1px white;
    opacity: 0.1;
    mix-blend-mode: difference;
  }
  animation: infitext 100s infinite linear alternate-reverse;

  @keyframes infitext {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-80%);
    }
  }
}

@keyframes realspin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
