@use "mixins" as *;

#p_read {
  .ban {
    height: 800px;
    position: relative;
    @include mq(768) {
      height: 500px;
    }
    @include mq(550) {
      height: auto;
      margin-top: 150px;
      border-top: 2px solid var(--gold);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;

      background: linear-gradient(to top, #382a1d, transparent 80%);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .n-head {
    background: #141414;
    padding: 2em;
    text-align: center;
    h2 {
      font-size: 2rem;
      @include mq(768) {
        font-size: 1.2rem;
      }
      @include mq(550) {
        font-size: 1rem;
      }
    }
    hr {
      max-width: 300px;
      margin: 0.25em auto;
      border: 1px solid white;
      opacity: 0.3;
      @include mq(550) {
        opacity: 0.1;
      }
    }
    p {
      color: white;
      opacity: 0.3;
    }
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0%;
      top: 60px;
      z-index: -2;
      user-select: none;
      pointer-events: none;
    }
  }
  .n-body {
    max-width: min(800px, 80%);
    margin-top: 150px;
    position: relative;
    .ctrl {
      position: absolute;
      top: 0%;
      right: 100%;
      height: 100%;
      .btn-back {
        position: sticky;
        top: 25%;
        right: 100%;
        @include mq(1280) {
          top: 300px;
          img {
            max-width: 150px;
          }
        }

        @include mq(768) {
          right: unset;
          transform: translateY(-30px);
          top: 20%;
        }
        @include mq(550) {
          transform: translateY(-40px);
        }
        @include mq(320) {
          transform: translateY(-50px);
        }
        @include mq(1024) {
          rotate: 90deg;
        }
      }
    }
    article {
      font-family: var(--fontA);

      @include mq(420) {
        text-align: justify;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: var(--fontA);
        @include mq(768) {
          font-size: 1.1rem;
        }
      }
      img {
        width: 100%;
        border: 1px solid grey;
        background: black;
        margin: 2em 0;
      }
      p {
        margin-bottom: 1em;
      }
      p,
      a,
      u,
      b,
      ul,
      li {
        @include mq(420) {
          font-size: 1rem;
        }
      }
    }
  }
}
